__pycache__/
*.py[cod]
venv/
*.venv
env/
*.env
*.db
*.sqlite3
*.log
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
.idea/
migrations/
*.dockerignore
*.tmp
*.bak
*.swp
node_modules/
build/
dist/
.ipynb_checkpoints
.python-version
Pipfile.lock
celerybeat-schedule
*.sage.py
.spyderproject
.spyproject
.ropeproject
/site
.mypy_cache/
.pyre/
instance/
nginx.conf