{% extends "base.html" %}
{% block title %}Ćwiczenie odmiany czasowników{% endblock %}
{% block content %}
<h1>Ćwiczenie odmiany czasowników</h1>

<form method="POST">
    {{ form.hidden_tag() }}
    <p>Odmień czasownik: <strong>{{ form.verb.data }}</strong> (forma masu)</p>
    <p>Tłumaczenie angielskie: <strong>{{ eng }}</strong></p>
    <p>Tłumaczenie polskie: <strong>{{ pl }}</strong></p>
    <p>
        {{ form.user_input.label }}<br>
        {{ form.user_input(size=64) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}